<div class="container">
  <h1>Über mich</h1>
  <div class="container">
    <div class="row">
      <p>
        <span>Wie fängt man bloß am besten an sich zu beschreiben?</span><br />
        <span>Vielleicht so:</span>
      </p>

      <p>
        Ich bin Nicole, 31 Jahre, Mama eines wunderbaren Mädchens, Frau meiner großen Jugendliebe, Abenteuerin und
        kreative Seele.
        Ich liebe Spaziergänge barfuß über Wiesen, Kaffees auf sonnendurchfluteten Terrassen, Bücher, Bücher und
        nochmals
        Bücher, Pinsel zwischen meinen Fingern, ehrliche, unverstellte Gespräche und meine Kamera!
        Ich bin Foto-verrückt. Foto-begeistert. Foto-verliebt.
      </p>

      <p>
        Bilder bedeuten für mich Momente einzufangen - festzuhalten - Erinnerungen zu bewahren - einen Moment
        zurückzutreten und auf das Hier und Jetzt zu schauen - die Schönheit des Alltags und des Lebens abzulichten -
        Gefühle sichtbar zu machen.
      </p>

      <p>
        0-8-15 Bilder kommen mir daher nicht in die Tüte. Ich möchte Euch bei einem Fototermin kennenlernen und sichtbar
        machen, wer ihr seid.
        Meine Arbeit konzentriert sich derzeit auf die folgenden drei Bereiche:
        Familien
        Portraits
        Hochzeiten.
      </p>

      <p>
        Ich habe ein kleines Studio im Künstlerhof Berlin Buch, aber ich komme gerne zu Euch nach Hause oder an einen
        Ort,
        der Euch viel bedeutet, an dem ihr Euch gut fühlt.
      </p>

      <p>Meldet Euch unter <a
        href="&#x6d;&#x61;&#x69;&#108;&#116;&#111;&#58;&#105;&#110;&#x66;&#x6f;&#x40;&#110;&#x69;&#99;&#x6f;&#x63;&#x6f;&#x2e;&#x64;&#101;">info@nicoco.de</a>
      </p>

      <p>
        Bis bald, Nicole
      </p>
    </div>

    <div class="row">
      <img class="img-responsive" src="/images/aboutme/me.jpg"/>
    </div>

    <div class="row">
      <span>Fortbildungen:</span>
      <ul class="list-unstyled">
        <li>2015-2106: Das Fotografie-Institut</li>
        <li>01/2016: Einzel-Coaching bei Yvonne Tunger Fotografie, Berlin</li>
        <li>04/2016: Workshop „Emotionale Portraits, outdoor“ bei Nina Schnitzenbaumer Fotografie</li>
      </ul>
    </div>
  </div>
</div>
