<div class="container">
	<div class="row row-centered">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered">
				<a class="toggle" data-toggle="portraits" href="#">
					<div class="thumbnail">
						<img src="/images/portraits/8.jpg" class="img-responsive thumbnail" alt="Portraits">
						<div class="caption"><strong>Portraits</strong></div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered">
				<a class="toggle" data-toggle="family" href="#">
					<div class="thumbnail">
						<img src="/images/family/5.jpg" class="img-responsive thumbnail" alt="Familien">
						<div class="caption"><strong>Familien</strong></div>
					</div>
				</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered">
				<a class="toggle" data-toggle="weddings" href="#">
					<div class="thumbnail">
						<img src="/images/wedding/1.png" class="img-responsive thumbnail" alt="Hochzeiten">

						<div class="caption"><strong>Hochzeiten</strong></div>
					</div>
				</a>
			</div>
		</div>

	</div>
	<div data-toggle="weddings" class="row collapse">
		<h1>Hochzeiten</h1>
 		<masonry input="gallery.weddings" gallery="'weddings'"></masonry>
	</div>

	<div data-toggle="family" class="row collapse">
		<h1>Familien</h1>
		<masonry input="gallery.family" gallery="'family'"></masonry>
	</div>

	<div data-toggle="portraits" class="row collapse">
		<h1>Portraits</h1>
		<masonry input="gallery.portraits" gallery="'portraits'"></masonry>
	</div>

</div>
