<div class="container">
  <h2>Angebote</h2>
  <div class="container">
    <div class="row">
      <img src="/images/prices/price1.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-3" alt="Familien- und Portraits-Shooting">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
        <div class="row">
          Folgende Angebote gelten für <strong>Familien- und Portraits-Shootings</strong>:
        </div>
        <section class="row">
          <h3>Paket 1 - Zum Kennenlernen</h3>
          <ul class="list-unstyled">
            <li>Shootingdauer max. 1 h</li>
            <li>Im Studio des Künstlerhofs Berlin-Buch</li>
            <li>Max. 3 Personen</li>
            <li>Auswahl aus allen Bildern in Webgalerie</li>
            <li>8 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
            <li>75,--€</li>
          </ul>
        </section>
        <section class="row">
          <h3>Paket 2 - Easy</h3>
          <ul class="list-unstyled">
            <li>Shootingdauer max. 1,5 h</li>
            <li>freie Locationwahl*</li>
            <li>Auswahl aus allen Bildern in Webgalerie</li>
            <li>12 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
            <li>120,--€</li>
          </ul>
        </section>
        <section class="row">
          <h3>Paket 3 - Rund-um-Sorglos</h3>

          <ul class="list-unstyled">
            <li>Shootingdauer bis 2 h</li>
            <li>freie Locationwahl*</li>
            <li>Auswahl aus allen Bildern in Webgalerie</li>
            <li>15 bearbeitete Bilder auf CD in voller Auflösung & Abzug (13x19)</li>
            <li>150,--€</li>
          </ul>
        </section>

        <div class="row">
          <ul class="list-unstyled">
            <li>
              <small>Anfahrt bis 30km (bezogen auf die Gesamtstrecke) kostenfrei, danach muss eine kleine
                Kilometerpauschale
                von 30 Cent/km erhoben werden.
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <img src="/images/prices/price2.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-3" alt="Familien- und Portraits-Shooting">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9">
        <div class="row">
          Folgende Angebote gelten für <strong>Hochzeit-Reportagen</strong>:
        </div>
        <section class="row">
          <h3>Paket 1</h3>
          <ul class="list-unstyled">
            <li>Zwei Stunden fotografische Begleitung</li>
            <li>(Trauung, Gruppenbild, Paarbilder am Trauungsort)</li>
            <li>350,--€</li>
          </ul>
        </section>
        <section class="row">
          <h3>Paket 2</h3>
          <ul class="list-unstyled">
            <li>Vier Stunden fotografische Begleitung</li>
            <li>(Trauung, Gruppenbilder, ausgiebige Paarbilder am Wunsch-Ort)</li>
            <li>470,--€</li>
          </ul>
        </section>
        <section class="row">
          <h3>Paket 3</h3>

          <ul class="list-unstyled">
            <li>Acht Stunden fotografische Begleitung</li>
            <li>(Vorbereitung, Trauung, Gruppenbilder, Brautpaarshooting, anschließende Dokumentation der Feier)</li>
            <li>750,--€</li>
          </ul>
        </section>
        <section class="row">
          <h3>Paket 4</h3>

          <ul class="list-unstyled">
            <li>Zwölf Stunden fotografische Begleitung</li>
            <li>(Fotoreportage des gesamten Tages - von der Vorbereitung bis zur Abendfeier)</li>
            <li>1120,--€</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
